{
  "applinks": {
    "details": [
      {
        "appIDs": [
          "YOUR_TEAM_ID.xyz.tinchak0207.market"
        ],
        "components": [
          {
            "/": "/*"
          }
        ]
      }
    ]
  }
}
