[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "xyz.tinchak0207.market",
      "sha256_cert_fingerprints": [
        "YOUR_RELEASE_CERT_SHA256"
      ]
    }
  }
]
